<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    Some Name
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['calisthenics/0']" class="nav-link" routerLinkActive="active">Calisthenics</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['yourworkout/0']" class="nav-link" routerLinkActive="active">Your workout</a>
      </li>
    </ul>
  </div>
</nav>