<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Exercises({{items.length}}) <div class="dropdown float-right">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <Button class="dropdown-item" (click)="filterType('')">All</Button>
            <Button class="dropdown-item" (click)="filterType('Shoulders')">Shoulders</Button>
            <Button class="dropdown-item" (click)="filterType('Back')">Back</Button>
            <Button class="dropdown-item" (click)="filterType('Legs')">Legs</Button>
            <Button class="dropdown-item" (click)="filterType('Abdomen')">Abdomen</Button>
            <Button class="dropdown-item" (click)="filterType('Chest')">Chest</Button>
          </div>
        </div>
      </h2>
      <div class="list-group" id="list-tab" role="tablist">
        <a *ngFor="let item of items" [routerLink]="[item.id]" class="list-group-item list-group-item-action"
          id="list-home-list" data-toggle="list">{{item.name}}
          <a class="float-right" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus-circle"></i>
      </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item" (click)="doSome(item.id, 'Monday')">Monday</span> 
            <span class="dropdown-item" (click)="doSome(item.id, 'Tuesday')">Tuesday</span>
            <span class="dropdown-item" (click)="doSome(item.id, 'Wednesday')">Wednesday</span>
            <span class="dropdown-item" (click)="doSome(item.id, 'Thursday')">Thursday</span>
            <span class="dropdown-item" (click)="doSome(item.id, 'Friday')">Friday</span>
            <span class="dropdown-item" (click)="doSome(item.id, 'Saturday')">Saturday</span>
            <span class="dropdown-item" (click)="doSome(item.id, 'Sunday')">Sunday</span>
          </div>
        </a>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>